mixin about
    .about
        .container
            .row
                .col-12
                    .about__section.d-flex.column
                        fieldset.about__border
                            legend.about__title About us
                            .col-6.offset-3
                            p.about__text When you work with us, you are part of a team of committed collaborators. All aspects of our software development process are integrated, iterative and agile.
                            p.about__text Our approach unifies design, development and product management to create exceptional products. We start each project by understanding your business goals, the user’s needs and the product requirements. Then we help translate them into effective and elegant solutions.