mixin contact
    .contact
        .container
            .row
                .col-12
                    .contact__section
                        fieldset.contact__border
                            legend.contact__title contact us
                            .col-6.offset-3
                            p.contact__text Planning and development is iterative. Because we are constantly coding and testing, the products we build are always ready to go live. This iterative process allows for changes as business requirements evolve.
                            .row
                                .col-4.offset-4
                                    +btn('contact us')