.btn {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    background: #3C3C3C;
    color: #FFFFFF;
    border: none;


    &:hover {
        color: white;
        background-color: $color;
    }
}