mixin example
    .example
        .container-fluid
            .row
                .col-12
                    .row
                        .col-xl-4.col-lg-4.col-md-4.col-12
                            .example__topworkz topworkz
                        .col-xl-4.col-lg-4.col-md-4.col-12
                            .example__joint joint
                        .col-xl-4.col-lg-4.col-md-4.col-12
                            .example__market market
                    .row
                        .col-xl-4.col-lg-4.col-md-4.col-12
                            .example__worktop worktop
                        .col-xl-4.col-lg-4.col-md-4.col-12
                            .example__lable lable
                        .col-xl-4.col-lg-4.col-md-4.col-12
                            .example__kyiv kyiv
