mixin what
    .what
        .container
            .row
                .col-12
                    .what__section
                        fieldset.what__border
                            legend.what__title what we do
                            .col-6.offset-3
                            img.what__img(src="./img/icon1.svg", alt="")
                            h3.what__subtitle DEsing
                            p.what__text Our design practice offers a full range of services including branding strategy, interaction and visual design and user experience testing. Throughout your project, our designers create and implement visual designs and workflows, solicit user feedback, and work with you to make sure what gets built is what is needed. 
                            img.what__img(src="./img/icon2.svg", alt="")
                            h3.what__subtitle Development 
                            p.what__text All engineers are fluent in the latest enterprise, mobile and web development technologies. They collaborate with your team to write, test, and improve code on a daily basis, using proven practices such as test-driven development and pair programing.
                            img.what__img(src="./img/icon3.svg", alt="")
                            h3.what__subtitle Product Management
                            p.what__text All engineers are fluent in the latest enterprise, mobile and web development technologies. They collaborate with your team to write, test, and improve code on a daily basis, using proven practices such as test-driven development and pair programing.