mixin header
    .header
        img.header__logo(src="./img/logo.svg", alt="")
        h1.header__title WORKING WITH design LAB
        p.header__subtitle We’ve been helping startups launch and grow their businesses. We help you to fill the gap between development, design and product management.
        img.header__scrol(src="./img/scroll.svg", alt="")